.home {
  padding: 0;	
}
.home  a{
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  text-decoration: none;
} 
table, th, td {
   border: 1px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2}