.change-radius{
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
           //background-color: #fff;
            border: 1px solid #fff;
            color: black;
  }