<div style="padding: 54px;"></div>

<div class="card input-group pull-right enquiryformAlign" style="width: 20rem;">
  <div class="card-body">

      <!--Header-->
      <div class="form-header default-color">
          <h3><i class="fa "></i> Enquiry</h3>
      </div>

      <!--Body-->
      <div class="md-form">
          <input type="text" id="defaultForm-email" placeholder="Name" class="form-control">
      </div>

      <div class="md-form">
          <input type="number" id="defaultForm-pass" placeholder="Mobile No" class="form-control">
      </div>

      <div class="md-form">
          <input type="email" id="defaultForm-pass" placeholder="Email Address" class="form-control">
      </div>

      <div class="md-form">
          <!-- <i class="fa prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control">
          <label for="defaultForm-pass">Mobile No</label> -->

          <select class="form-control">
              <option value="volvo">Select Course</option>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
      </div>

      <div class="md-form">
          <input type="text" id="defaultForm-pass" placeholder="Mention Your Query"  class="form-control">
      </div>

      <div class="text-center">
          <button class="btn btn-default waves-effect waves-light">Submit</button>
      </div>

  </div>
</div>