<!-- <app-child [nameChild] = "messageArray" ></app-child> -->

<!-- <app-child [name]= "bookDetails.name" [author]= "bookDetails.author" [price]= "bookDetails.price" *ngFor= "let bookDetails of book"></app-child> -->

<!-- *ngFor= "let bookDetails of book">
        {{bookDetails.name}}
        {{bookDetails.author}}
        {{bookDetails.price}}
        </app-child> -->
<h1>List of Books</h1>

<app-child (eventEmitter)= "showBookData($event)"></app-child>
<div *ngFor="let b of books" >

        {{b.name}}
        {{b.author}}
        {{b.price}}
</div> 